* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: rgb(70, 4, 48);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
           margin: 0;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:"Roboto", sans-serif;
    color: rgb(240, 236, 10);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
        }

      

        nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
        }

        nav a:hover {
            text-decoration: underline;
        }


main {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
}

main p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}